* {
    margin: 0;
    padding: 0;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-right-0 {
    padding-left: 0;
}
body {
    /* FONTS */
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1140px;
}

header {
    /* margin-bottom: 60px; */
}
.top-bar {
    padding-top: 24px;
    margin-bottom: 26px;
}

.top-bar__logo {

}

.top-bar__menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;            /*Thiết lập hướng chính*/
    flex-wrap: wrap;                /*Thiết lập chế độ wrap, khi các phần tử vượt qua kích thước hướng chính*/
    justify-content: flex-end;      /*Căn chỉnh nội dung bên trong container có flexbox*/
    align-items: stretch;           /*Căn chỉnh phần tử con theo hướng vuông góc hướng chính*/
    align-content: stretch;
    margin-top: 40px;
}

.top-bar__menu > li {
    margin-left: 40px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #414042;
}

.main-slider {
    background: blueviolet;

}

.main-slider__container {
    width: 100%;
    /* min-height: 678px; */
    min-height: 904px;
    background-image: url('../images/banner_3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
/* .main-slider__container > img {
    width: 100%;
    height: 678px;
    background-repeat: no-repeat;
    background-size: cover;
} */

.introduction-project {
    width: 100%;
    /* min-height: 717px; */
    padding: 65px 0;

}

.introduction-project__text {
    margin-right: 10px;

}

.introduction-project__text__big-title {
    width: 100%;
    height: 61px;
    background: #0066b3;
    padding-top: 6px;
    text-align: center;
    margin-bottom: 35px;
}

.introduction-project__text__big-title > span {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}
.introduction-project__text__medium-title {
    margin-bottom: 32px;
    text-align: justify;
    /* text-justify: inter-word; */
}

.introduction-project__text__medium-title > span {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.9;
}

.introduction-project__image {
    margin-left: 10px;
}

.introduction-project__image > img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.overview-project {
    background-color: #e8e8e8;
    padding: 65px 0;
}

.overview-project__big-title {
    margin-bottom: 55px;

}

.overview-project__big-title__line {
    padding-top: 12px;

}

.overview-project__big-title__line > img {
    width: 100%;
}

.overview-project__big-title__text {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1565b0;
    letter-spacing: -1px;
}

.overview-project__content {
    
}

.overview-project__content__image {
    margin-right: 10px;
}

.overview-project__content__image > img {
    width: 100%;
    max-height: 445px;
   
}

.overview-project__content__text {
    display: flex;
    line-height: 36px;
    margin-left: 10px;
}

.overview-project__content__text__icon {
    margin-right: 14px;
}

.overview-project__content__text__icon > img {
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.overview-project__content__text__label {
    text-align: justify;

}
.overview-project__content__text__label > span {
    font-size: 14px;
}

.overview-project__content__text__label__bold {
    font-weight: bold;
}

.position-project {
    width: 100%;
    /* min-height: 678px; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/position_cc.png');
    padding: 65px 0;
}

.position-project__big-title {
    margin-bottom: 20px;

}

.position-project__big-title__line {
    margin-top: 15px;
}


.position-project__big-title__line > img {
    width: 100%;
}

.position-project__big-title__text {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    padding: 0;
    letter-spacing: 2px;
}

.position-project__sub-title  {
    font-size: 14px;
    color: #ffffff;
    font-weight: Regular;
    margin-bottom: 35px;
}

.position-projec__block__1 {
    display: flex;
    flex-direction: column;

}

.position-projec__block__1__component {
    position: relative;
    margin-bottom: 15px;
    margin-left: 10px;
    /* width: 228px; */
}

.position-projec__block__1__component > span {
    font-size: 14px;
    color: #ffffff;
    display: inline;
    margin-left: 4px;
    /* margin-top: 3px; */
}
.position-projec__block__1__component___number {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;

    position: absolute;
    width: 22px;
    height: 22px;
    text-align: center;
    top: 4px;
}

.position-project__list-utilities {
    margin-bottom: 25px;
}

.position-project__image-highlights__1 {
    margin-right: 10px;
}

.position-project__image-highlights__1 >img {
    width: 100%;
}

.position-project__image-highlights__2 {
    margin-left: 10px;

}

.position-project__image-highlights__2 > img {
    width: 100%;
}

.featured-gadget-project {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/featured_gadget.png);
    padding: 65px 0;
}

.featured-gadget-project__left {

}

.featured-gadget-project__right {
    margin-left: 10px;
}

.featured-gadget-project__right__big-title {
    width: 100%;
    height: 61px;
    background: #0066b3;
    padding-top: 6px;
    text-align: center;
    margin-bottom: 25px;
}

.featured-gadget-project__right__big-title > span {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

.featured-gadget-project__right__summary-title {
    font-size: 14px;
    font-weight: 400;
    color: #515153;
}

.featured-gadget-project__right__illustration  > .row{
    padding: 25px;
}

.featured-gadget-project__right__illustration__title {
    font-size: 14px;
    color: #373737;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

.circle_green {
    position: relative;
}

.circle_image_inner {
    position: absolute;
    left: 20px;
    top: 5px;
}

.construction-ground-project {
    width: 100%;
    padding: 65px 0;
}

.construction-ground-project__big-title {
}

.construction-ground-project__big-title > .line {
    margin-top: 10px;
}

.construction-ground-project__big-title > .line-left {
    padding-right: 0;
}

.construction-ground-project__big-title > .line-right {
    padding-left: 0;
}

.construction-ground-project__big-title > .line > img {
    width: 100%;
}

.construction-ground-project__big-title > .text {
    font-size: 36px;
    font-weight: bold;
    color: #1565b0;
    text-align: center;
}

.construction-ground-project__link {
    width: 80%;
    margin: 30px auto;
}

.construction-ground-project__link > .col {
    /* padding: 0; */
    padding-left: 0;
}

.construction-ground-project__link__btn {
    width: 100%;
    height: 38px;
    background-color: #e8e8e8;
    padding: 7px 0;
    text-align: center;
    color: #242424;
    cursor: pointer;

}

.construction-ground-project__link__btn > span {
    font-size: 14px;
    font-weight: bold;
}

.active {
    background-color: #009a4f;
    color: #ffffff;
    cursor: pointer;
}

.construction-ground-project__diagram1 {
    text-align: center;
}

.construction-ground-project__diagram1 > img {
    width: 100%;
}

.image-apartment {
    width: 100%;
    padding: 65px 0;
    background-color: #e8e8e8;
}

.image-apartment__big-title {
    margin-bottom: 40px;
}

.image-apartment__big-title > .line {
    margin-top: 10px;
}

.image-apartment__big-title > .line > img {
    width: 100%;
}

.image-apartment__big-title > .text {
    font-size: 36px;
    font-weight: bold;
    color: #1565b0;
    text-align: center;
}

.image-apartment__image-block > .left {
    padding-right: 5px;
}

.image-apartment__image-block > .right {
    padding-left: 5px;
}

.image-apartment__image-block__block-left {
    width: 100%;
    min-height: 535px;
    background-image: url(../images/kitchen.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image-apartment__image-block__title{
    min-height: 82px;
    width: 100%;
    background-color: #100e0c;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    text-align: center;
    padding: 17px;
}

.image-apartment__image-block__title > .big {
    display: block;
    font-size: 14px;
    font-weight: bold;

}

.image-apartment__image-block__title > .medium {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.image-apartment__image-block__block-center {
    width: 100%;
    min-height: 535px;

}

.image-apartment__image-block__block-center__main-image {
    width: 100%;
    min-height: 386px;
    background-image: url(../images/living-room.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.apartment-slider-image {
    margin-top: 17px;
}

.apartment-slider-image > .col-4 > img {
    width: 100%;
    min-height: 131px;
}

.image-apartment__image-block__block-right {
    width: 100%;
    min-height: 535px;
    background-image: url(../images/bathroom.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.project-news {
    width: 100%;
    padding: 65px 0;
}

.project-news__big-title {
    margin-bottom: 50px;
}

.project-news__big-title > .line {
    margin-top: 10px;
}
.project-news__big-title > .line > img {
    width: 100%;

}

.project-news__big-title > .text {
    font-size: 36px;
    font-weight: bold;
    color: #1565b0;
    text-align: center;
}

.project-news__list-news {

}
.news-component {
    width: 100%;
    min-height: 504px;
    padding: 13px;
}

.news-component > img {
    width: 100%;
}

.news-component > .title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
}
.news-component .quickview {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-align: justify;
    /* margin-bottom: 25px;; */

}
.news-component > .detail-btn {
    max-width: 172px;
    min-height: 42px;
    background-color: #009a4f;
    padding: 9px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin: 25px auto;
    cursor: pointer;
}

.info-contact-company {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/info-contact-background.png);
    padding: 108px 0 75px 0;
    min-height: 563px;
}

.big-title__bold {
    font-weight: bold;
}

.big-title__medium > span {
    font-weight: lighter;
}

.info-contact-company__info > .big-title > .line-6 {
    text-align: left;
}

.info-contact-company__info > .big-title > .line-6 > img {
    width: 100%;
}



.info-contact-company__info {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.big-title > .info-component {
    font-weight: lighter;
}
.info-component {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.footer {
    width: 100%;
    min-height: 80px;
    background-color: #0066b3;
    padding: 30px 0;
}

.footer > .copy-right {
    text-align: center;
}

.footer > .copy-right > span {
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    margin-left: 10px;
}

.shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
  }
  