* {
    margin: 0;
    padding: 0;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-right-0 {
    padding-left: 0;
}
body {
    /* FONTS */
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1008px;
}

header {
    margin-bottom: 60px;
}
.top-bar {
    padding-top: 24px;
    margin-bottom: 26px;
}

.top-bar__logo {

}

.top-bar__menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;            /*Thiết lập hướng chính*/
    flex-wrap: wrap;                /*Thiết lập chế độ wrap, khi các phần tử vượt qua kích thước hướng chính*/
    justify-content: flex-end;      /*Căn chỉnh nội dung bên trong container có flexbox*/
    align-items: stretch;           /*Căn chỉnh phần tử con theo hướng vuông góc hướng chính*/
    align-content: stretch;
    margin-top: 40px;
}

.top-bar__menu > li {
    margin-left: 40px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #414042;
}

.main-slider {
    background: blueviolet;

}

.main-slider__container {
    width: 100%;
    min-height: 678px;

    background-image: url('../images/banner_2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
/* .main-slider__container > img {
    width: 100%;
    height: 678px;
    background-repeat: no-repeat;
    background-size: cover;
} */

.introduction-project {
    width: 100%;
    min-height: 717px;

}

.introduction-project__text {
    margin-right: 10px;

}

.introduction-project__text__big-title {
    width: 100%;
    height: 61px;
    background: #0066b3;
    padding-top: 6px;
    text-align: center;
    margin-bottom: 35px;
}

.introduction-project__text__big-title > span {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
}
.introduction-project__text__medium-title {
    margin-bottom: 32px;
    text-align: justify;
    /* text-justify: inter-word; */
}

.introduction-project__text__medium-title > span {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.9;
}

.introduction-project__image {
    margin-left: 10px;
}

.introduction-project__image > img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.overview-project {
    background-color: #e8e8e8;
    padding: 65px 0;
}

.overview-project__big-title {
    margin-bottom: 55px;

}

.overview-project__big-title__line {
    padding-top: 12px;

}

.overview-project__big-title__line > img {
    width: 100%;
}

.overview-project__big-title__text {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1565b0;
    letter-spacing: -1px;
}

.overview-project__content {
    
}

.overview-project__content__image {
    margin-right: 10px;
}

.overview-project__content__image > img {
    width: 100%;
    height: 445px;
   

}

.overview-project__content__text {
    display: flex;
    line-height: 36px;
    margin-left: 10px;
}

.overview-project__content__text__icon {
    margin-right: 14px;
}

.overview-project__content__text__icon > img {
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.overview-project__content__text__label {
    text-align: justify;

}
.overview-project__content__text__label > span {
    font-size: 14px;
}

.overview-project__content__text__label__bold {
    font-weight: bold;
}

.position-project {
    width: 100%;
    min-height: 678px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/position_cc.png');
    padding-top: 55px;
    padding-bottom: 55px;
}

.position-project__big-title {
    margin-bottom: 20px;

}

.position-project__big-title__line {
    margin-top: 15px;
}


.position-project__big-title__line > img {
    width: 100%;
}

.position-project__big-title__text {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    padding: 0;
    letter-spacing: 2px;
}

.position-project__sub-title  {
    font-size: 14px;
    color: #ffffff;
    font-weight: Regular;
    margin-bottom: 35px;
}

.position-project__list-utilities {
    margin-bottom: 25px;
}

.position-projec__block__1 {
    display: flex;
    flex-direction: column;

}

.position-projec__block__1__component {
    position: relative;
    margin-bottom: 15px;
    /* width: 228px; */
}

.position-projec__block__1__component > span {
    font-size: 14px;
    color: #ffffff;
    display: inline;
    margin-left: 4px;
    /* margin-top: 3px; */
}
.position-projec__block__1__component___number {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;

    position: absolute;
    width: 22px;
    height: 22px;
    text-align: center;
    top: 4px;
}