* {
    margin: 0;
    padding: 0;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-right-0 {
    padding-left: 0;
}
body {
    /* FONTS */
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1140px;
}

header {
    /* margin-bottom: 60px; */
}
.top-bar {
    padding-top: 24px;
    margin-bottom: 26px;
}

.top-bar__logo {

}

.top-bar__menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;            /*Thiết lập hướng chính*/
    flex-wrap: wrap;                /*Thiết lập chế độ wrap, khi các phần tử vượt qua kích thước hướng chính*/
    justify-content: flex-end;      /*Căn chỉnh nội dung bên trong container có flexbox*/
    align-items: stretch;           /*Căn chỉnh phần tử con theo hướng vuông góc hướng chính*/
    align-content: stretch;
    margin-top: 40px;
}

.top-bar__menu > li {
    margin-left: 40px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #414042;
}

.main-slider {
    background: blueviolet;

}

.main-slider__container {
    width: 100%;
    min-height: 678px;

    background-image: url('../images/banner_2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
/* .main-slider__container > img {
    width: 100%;
    height: 678px;
    background-repeat: no-repeat;
    background-size: cover;
} */

.introduction-project {
    width: 100%;
    /* min-height: 717px; */
    padding: 65px 0;

}

.introduction-project__text {
    margin-right: 10px;

}

.introduction-project__text__big-title {
    width: 100%;
    height: 61px;
    background: #0066b3;
    padding-top: 6px;
    text-align: center;
    margin-bottom: 35px;
}

.introduction-project__text__big-title > span {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}
.introduction-project__text__medium-title {
    margin-bottom: 32px;
    text-align: justify;
    /* text-justify: inter-word; */
}

.introduction-project__text__medium-title > span {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.9;
}

.introduction-project__image {
    margin-left: 10px;
}

.introduction-project__image > img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.overview-project {
    background-color: #e8e8e8;
    padding: 65px 0;
}

.overview-project__big-title {
    margin-bottom: 55px;

}

.overview-project__big-title__line {
    padding-top: 12px;

}

.overview-project__big-title__line > img {
    width: 100%;
}

.overview-project__big-title__text {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1565b0;
    letter-spacing: -1px;
}

.overview-project__content {
    
}

.overview-project__content__image {
    margin-right: 10px;
}

.overview-project__content__image > img {
    width: 100%;
    max-height: 445px;
   
}

.overview-project__content__text {
    display: flex;
    line-height: 36px;
    margin-left: 10px;
}

.overview-project__content__text__icon {
    margin-right: 14px;
}

.overview-project__content__text__icon > img {
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.overview-project__content__text__label {
    text-align: justify;

}
.overview-project__content__text__label > span {
    font-size: 14px;
}

.overview-project__content__text__label__bold {
    font-weight: bold;
}

.position-project {
    width: 100%;
    /* min-height: 678px; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/position_cc.png');
    padding: 65px 0;
}

.position-project__big-title {
    margin-bottom: 20px;

}

.position-project__big-title__line {
    margin-top: 15px;
}


.position-project__big-title__line > img {
    width: 100%;
}

.position-project__big-title__text {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    padding: 0;
    letter-spacing: 2px;
}

.position-project__sub-title  {
    font-size: 14px;
    color: #ffffff;
    font-weight: Regular;
    margin-bottom: 35px;
}

.position-projec__block__1 {
    display: flex;
    flex-direction: column;

}

.position-projec__block__1__component {
    position: relative;
    margin-bottom: 15px;
    /* width: 228px; */
}

.position-projec__block__1__component > span {
    font-size: 14px;
    color: #ffffff;
    display: inline;
    margin-left: 4px;
    /* margin-top: 3px; */
}
.position-projec__block__1__component___number {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;

    position: absolute;
    width: 22px;
    height: 22px;
    text-align: center;
    top: 4px;
}

.position-project__list-utilities {
    margin-bottom: 25px;
}

.position-project__image-highlights__1 {
    margin-right: 10px;
}

.position-project__image-highlights__1 >img {
    width: 100%;
}

.position-project__image-highlights__2 {
    margin-left: 10px;

}

.position-project__image-highlights__2 > img {
    width: 100%;
}

.featured-gadget-project {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/featured_gadget.png);
    padding: 65px 0;
}

.featured-gadget-project__left {

}

.featured-gadget-project__right {

}

.featured-gadget-project__right__big-title {
    width: 100%;
    height: 61px;
    background: #0066b3;
    padding-top: 6px;
    text-align: center;
    margin-bottom: 25px;
}

.featured-gadget-project__right__big-title > span {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

.featured-gadget-project__right__summary-title {
    font-size: 14px;
    font-weight: 400;
    color: #515153;
}

.featured-gadget-project__right__illustration  > .row{
    padding: 25px;
}

.featured-gadget-project__right__illustration__title {
    font-size: 14px;
    color: #373737;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

.circle_green {
    position: relative;
}

.circle_image_inner {
    position: absolute;
    left: 20px;
    top: 5px;
}

.construction-ground-project {
    width: 100%;
    padding: 65px 0;
}

.construction-ground-project__big-title {
}

.construction-ground-project__big-title > .line {
    margin-top: 10px;
}

.construction-ground-project__big-title > .line-left {
    padding-right: 0;
}

.construction-ground-project__big-title > .line-right {
    padding-left: 0;
}

.construction-ground-project__big-title > .line > img {
    width: 100%;
}

.construction-ground-project__big-title > .text {
    font-size: 36px;
    font-weight: bold;
    color: #1565b0;
    text-align: center;
}

.construction-ground-project__link {
    width: 80%;
    margin: 30px auto;
}

.construction-ground-project__link > .col {
    /* padding: 0; */
    padding-left: 0;
}

.construction-ground-project__link__btn {
    width: 100%;
    height: 38px;
    background-color: #e8e8e8;
    padding: 7px 0;
    text-align: center;
    color: #242424;
    cursor: pointer;

}

.construction-ground-project__link__btn > span {
    font-size: 14px;
    font-weight: bold;
}

.active {
    background-color: #009a4f;
    color: #ffffff;
    cursor: pointer;
}

.construction-ground-project__diagram1 {
    text-align: center;
}

.image-apartment {
    width: 100%;
    padding: 65px 0;
    background-color: #e8e8e8;
}

.image-apartment__big-title {

}

.image-apartment__big-title > .line {
    margin-top: 10px;

}

.image-apartment__big-title > .text {
    font-size: 36px;
    font-weight: bold;
    color: #1565b0;
    text-align: center;
}

.image-apartment__image-block {

}

.image-apartment__image-block__block-left {
    width: 100%;
    height: 535px;
    background-color: aqua;
    background-image: url('/images/kitchen.png');
}

